:root {
    --sappire: #0851AB;
    --pictonBlue: #5BAEDB;
    --lightCyan: #C6F4FD;
    --orchidPink: #EBB4C9;
    --mimiPink: #F6D2E1;

    --poppy: #DB2B39; /* (219, 43, 57) */
    --delftBlue: #29335C; /* RGB(41 51 92) */
    --rangeWeb: #F3A712; /* RGB(243 167 18) */
    --sunset: #F0CEA0; /* RGB(240 206 160) */
    --cambridgeBlue: #9DCBBA; /* RGB(157 203 186)*/
    /* --walnutBrown: #F0CEA0; RGB(157 203 186) */
  }
  

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    /* background-color: white; */
    /* background-color: var(--sunset); */
}

.container {
    margin: 1rem;
    text-align: center;
}

.site-title {
    font-size: 2rem;
    font-family: "Lucida Console", "Courier New", monospace;
}

.nav{
    background-color: var(--delftBlue);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0rem;
    border-bottom-style: solid;
    border-color: var(--cambridgeBlue);
    border-width: .4rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 0rem;
    font-size: 1.5rem;
    font-family: "Lucida Console", "Courier New", monospace;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.35rem 1.5rem;
}

.nav li.active {
    background-color: var(--cambridgeBlue);
}

.nav li:hover {
    background-color: var(--sunset);
}

h1 {
    font-family: Helvetica;
}